:root {
    --DeepCove: #071c42;
    --PuertoRico: #3dcab1;
    background-color: var(--DeepCove);
}

#sideBanner {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 0px;
    border-left: solid var(--PuertoRico) 13.5vw;
}

@media screen and (max-width:650px){
    #sideBanner{
        display: none;
    }
}

.home-container{
    display: flex;
    border: black solid;
    margin: auto;
    /* height: 100%; */
    left: 56.9%;
    transform: translateX(-50%);
    position: absolute;
    height: 70%;
    width: 60%;
    margin-top: 80px;
    justify-content: space-evenly;
    padding: 20px;
    column-gap: 20px;
}

.home-wrapper-left {
    border: black solid;
    box-sizing: border-box;
    /* margin: 20px; */
    width: 40%;
}

.home-wrapper-right {
    display: flex;
    /* border: black solid; */
    box-sizing: border-box;
    /* margin: 20px; */
    width: 60%;
    /* padding: 10px; */
    flex-wrap: wrap;
    /* column-gap: 20px; */
    justify-content: space-evenly;
}

.h-wrapper-box{
    position: relative;
    border: black solid;
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    padding: 10px
}

.h-wrapper-ele {
    position: relative;
    background-color: #CBF7ED;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

