/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&family=Raleway:wght@300;400&family=Roboto:wght@500&display=swap'); */


:root {
    --DeepCove: #071c42;
    --PuertoRico: #3dcab1;
    background-color: var(--DeepCove);
}

html {
    height: 100%;
}
body {
    height: 100%;
    background-image: linear-gradient(to bottom left, var(--DeepCove), var(--PuertoRico));
    font-family: 'Poppins', sans-serif;
    
}

body *{
    font-family: 'Poppins', sans-serif;

}

#root {
    height: 100%;
}

.timetable-page {
    padding: 10px;
    height: 100%;
}

.login-page,
.register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card,
.register-card {
    background-color: white;
    width: 10rem;
    height: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 5px;
    border-radius: 5px;
    padding: 5%;
}

.login-button,
.register-button {
    color: white;
    border-radius: 10px;
    top: 100%;
    border: none;
    width: 100px;
    background-color: var(--DeepCove);
    transition: 0.15s;
    align-items: center;
}

.login-button:hover,
.register-button:hover {
    background-color: var(--PuertoRico);
    transition: 0.15s;
}

.login-button:active,
.register-button:active {
    background-color: #071c42;
    transition: 5ms;
}

.login-card-form,
.register-card-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.login-card-form-input div,
.register-card-form-input div {
    padding: 5px;
}

.login-card-form-input label,
.register-card-form-input label {
    font-size: 14px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
