#timetable {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: 1em;
  width: 80%;
  height: 80%;
  margin-top: 125px;
  /* margin-left: 10vw; */
  position: relative;
}

#days {
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
background-color: var(--DeepCove);
color: ivory;
font-size: 1.1rem;
font-weight: normal;
letter-spacing: 0.6px;
border-right: solid black 1px;
border: solid black 1px;
border-right: none;
border-radius: 10px 0px 0px 10px;
height: 885px;
}

#days>*{
/* width: 100%; */
height: 100%;
display: flex;
justify-content: center;
align-items: center;
padding-left: 10px;
padding-right: 10px;
}

#days>*:nth-child(1){
  padding-top: 30px;
}

.day{
  display: flex;
  flex-direction: column;
}

.day>span{
  margin-bottom: 5px;
}

#table {
display: flex;
flex-direction: column;
z-index: 5;
height: 100%;
}

#times {
display: flex;
flex-direction: row;
background-color: var(--DeepCove);
color: ivory;
font-weight: normal;
letter-spacing: 0.4px;
border-bottom: solid black 1px;
height: 30px;
border-radius: 0px 10px 0px 0px;
}

.time {
border: solid transparent 1px;
width: 100px;
text-align: center;
padding: 5px;
}

#content {
display: grid;
/* height: 880px; */
background-color: rgb(216, 216, 211);
border-radius: 0px 0px 10px 0px;
border: solid black 2px;
}

#content,
#times,
#days{
box-shadow: 10px 10px 5px black;
}

.box {
border: solid black 1px;
text-align: center;
width: 100px;
height: 110px;
padding: 5px;
font-size: 1.1rem;
}

.row {
position: relative;
display: flex;
}

.selected-box{
  background-color: rgb(255, 255, 255);
  border: solid var(--PuertoRico) 2px;
  font-weight: bold;
}

.week-nav{
  font-size: 2rem;
  color: ivory;
  position: absolute;
  top: -90px;
  left: 150px;
  display: flex;
  align-items: center;
  width: 100%;
}

.week-nav>*{
  margin: 0px 10px;
  padding: 2px 2px;
}

#left,
#right{
  background-color: var(--DeepCove);
  color: ivory;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 3px 3px 2px black;

}

.week-year{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#week-number{
  font-size: 1.4rem;
}

#refresh{
  font-size: 1.5rem;
  background-color: var(--DeepCove);
  color: ivory;
  padding: 8px;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 3px 2px black;
  cursor: pointer;
}

#left,
#right,
#refresh{
  transition: ease-in-out 0.1s;

}

#left:hover,
#right:hover,
#refresh:hover{
  background-color: var(--PuertoRico);
  color: black;
  box-shadow: var(--PuertoRico) 0px 0px 5px 1px ;
  filter: brightness(1.1);
  transition: ease-in-out 0.1s;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
