#timetable {
    display: flex;
    background-color: ivory;
    font-weight: bold;
    font-size: 1em;
    max-width: 80vw;
    max-height: 80vh;
    margin-top: 10vh;
    margin-left: 10vw;
  }
  
  #days {
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-right: solid black 1px;
    padding-top: 5em;
    padding-bottom: 2.5em;
    gap: 5em;
  }
  
  #table {
    display: flex;
    flex-direction: column;
  }
  
  #times {
    display: flex;
    flex-direction: row;
    background-color: grey;
    border-bottom: solid black 1px;
    max-height: 3em;
    gap: 3em;
  }
  
  .time {
    border: solid black 1px;
  }
  
  #content {
    display: grid;
    max-height: 80vh;
  }
  .box {
    border: solid black 1px;
    text-align: center;
    width: 100px;
    height: 100px;
  }
  .row {
    position: relative;
    display: flex;
  }
  