:root {
    --DeepCove: #071c42;
    --PuertoRico: #3dcab1;
}
#NavBar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: 100vw;
    min-height: 3rem;
    background-color: var(--DeepCove);
    color: var(--PuertoRico);
    font-size: 2rem;
    border-bottom: solid var(--PuertoRico) 1rem;
}
#NavBar .mainNav {
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    padding: 10px;
    gap: 1em;
}
#NavBar .loginNav {
    /* position: sticky; */
    /* margin-left: 50vw; */
    position: absolute;
    right: 50px;
    padding: 10px;
}

#NavBar a{
    position: relative;
}

#NavBar a::before{
    content: "";
    background-color: var(--PuertoRico);
    width: 2px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: -15px;
}

.mainNav a:nth-child(1)::before{
    background-color: transparent;
}

@media screen and (max-width:650px){
    #NavBar .loginNav{
        position: relative;
        right: 0;
        margin-left: 10px;
    }
    #NavBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #NavBar .mainNav{
        margin-left: 0;
    }
}