@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Poppins&family=Raleway:wght@300;400&family=Roboto:wght@100;300;500&display=swap');


:root {
    --DeepCove: #071c42;
    --PuertoRico: #3dcab1;
}
body {
    font-family: 'Poppins', sans-serif;
}
#NavBar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: 100vw;
    min-height: 3rem;
    background-color: var(--DeepCove);
    color: #cdfff6;
    font-size: 2rem;
    border-bottom: solid var(--PuertoRico) 0.5rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
#NavBar .mainNav {
    display: flex;
    flex-direction: row;
    margin-left: 16vw;
    padding: 10px;
    gap: 2em;
}
#NavBar .loginNav {
    display: flex;
    /* position: sticky; */
    /* margin-left: 50vw; */
    position: absolute;
    right: 50px;
    padding: 10px;
    
}

#NavBar a{
    display: flex;
    position: relative;
    text-decoration:  none;
    color: #a8ffef;
    transition: 0.3s ease;
}

#NavBar a:hover{
    display: flex;
    position: relative;
    color: beige;
}

.logout-btn {
    position: relative;
    display: flex;
    margin-left: 20px;
    align-items: center;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-weight: 300;
    background-color: #a8ffef;
}
#NavBar button:hover {
    background-color: var(--PuertoRico);
    cursor: pointer;
    color: white;
}
.login-btn {
    position: relative;
    display: flex;
    margin-left: 20px;
    align-items: center;
    border-radius: 20px;
    border: none;
    transition: 0.3s;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-weight: 300;
    background-color: #a8ffef;
}

#NavBar a::before{
    content: "";
    background-color: var(--PuertoRico);
    width: 2px;
    height: 30px;
    position: absolute;
    top: 3px;
    left: -15px;
}

.mainNav a:nth-child(1)::before{
    background-color: transparent;
}

@media screen and (max-width:650px){
    #NavBar .loginNav{
        position: relative;
        right: 0;
        margin-left: 10px;
    }
    #NavBar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #NavBar .mainNav{
        margin-left: 0;
    }
}