:root {
    --DeepCove: #071c42;
    --PuertoRico: #3dcab1;
}
#NavBar {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: 100vw;
    min-height: 3rem;
    background-color: var(--DeepCove);
    color: var(--PuertoRico);
    font-size: 2rem;
    border-bottom: solid var(--PuertoRico) 1rem;
}
#NavBar .mainNav {
    display: flex;
    flex-direction: row;
    margin-left: 15vw;
    padding: 10px;
    gap: 1em;
}
#NavBar .loginNav {
    position: sticky;
    margin-left: 50vw;
    padding: 10px
}
